@font-face {
  font-family: 'OCRA';
  src: url('../../assets/fonts/OCRAEXT.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RBTFNT';
  src: url('../../assets/fonts/RBTFNT.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CourierCodeRoman';
  src: url('../../assets/fonts/courier-code_regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CourierCodeRoman';
  src: url('../../assets/fonts/courier-code_bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

body {
  background-color: #000;
  font-family: Roboto;
  font-size: 1.2rem;
  color: #fff;
  text-align: left;
  overflow-x: hidden;
}

button {
  background-color: unset;
  border: unset;
}

#header-robologo {
  padding: 0;
}

.justify {
  text-align: justify;
}

.clickable-title {
  text-decoration: underline !important;
  cursor: pointer;
}

.word-break {
  word-break: break-word;
}

.b-card-body p a {
  color: #fff;
}

.footer-content {
  color: #000;
  text-align: center;
  margin: 50px;
}

footer {
  background-color: #262330;
}

footer h2 {
  color: #fff;
}

a {
  text-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  font-family: CourierCodeRoman;
}

a:hover {
  color: #fff;
}

header a.nav-link:hover {
  color: #fff;
}

p, li {
  font-family: CourierCodeRoman;
  margin-bottom: 1rem;
}

header ul {
  text-align: center;
  margin: 0;
  padding: 0;
}

.navbar-brand {
  font-family: "OCRA";
  margin-right: 0;
  letter-spacing: 0.05em;
  font-weight: normal;
}

code {
  font-family: "Courier";
  color: white;
  padding: 4px;
  margin: 0;
  letter-spacing: 0.08rem;
  font-size: 1.2rem;
  font-weight: 600;
  background-color: #444;
}

h1,
h2,
.link-title,
h3 {
  color: #01ffd9;
}


h1,
h2,
h3,
.link-title
div.card-header {
  font-family: "OCRA";
  text-align: left;
  color: #01ffd9;
}

.rbtfnt {
  font-family: "RBTFNT";
}

h1, h2, div.card-header, .link-title {
  text-transform: uppercase;
}

h1 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1rem;
}

h2, .link-title {
  font-size: 1.2rem;
}

h2:not(.no-arrow)::before {
  content: '> ';
  color: #01ffd9;
  position: absolute;
  left: 1rem;
}

.link-title::before {
  content: '> ';
  color: #01ffd9;
  position: absolute;
  left: 1rem;
}

.color {
  color: #01ffd9;
}

.white {
  color: #fff;
}

h1.main-header {
  font-size: 20px;
  font-size: 6rem;
  line-height: 0.9;
  color: #fff;
}

.img-header {
  float: left;
  margin-top: 11px;
  width: 160px;
  margin-right: 50px;
}

.main-header-container {
  width: 760px;
  margin: 10px auto;
  padding-bottom: 50px;
  text-align: center;
}

.header {
  background-color: #262330;
  margin: 0;
  padding-top: 80px;
}

.logo-fixed {
  position: fixed;
  top: 50px;
  right: 20px;
  width: 50px;
  height: 50px;
  z-index: 999;
  transition: 0.3s ease-out transform;
}

.logo-fixed:hover {
  transform: rotate(90deg);
}

@media (max-width: 1100px) {
  .logo-fixed {
    display: none;
  }
}

.white-box {
  font-family: CourierCodeRoman;
  color: #000;
  background-color: #fff;
  padding: 10px;
  margin: 6px;
  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  display: table;
  min-width: 200px;
  margin: 0 auto;
}

small.info {
  margin: 0 auto;
  display: block;
}

small.info::after {
  content: "  ••••••••••••••"
}

.card.feature-box {
  background-color: #01ffd9;
  color: #fff;
}

#nav_collapse .nav-item a {
  font-family: "OCRA";
  color: #fff;
  font-weight: normal;
}

a {
  font-weight: bold;
}

#nav_collapse .nav-item a.active,
a {
  color: #01ffd9;
}

hr {
  border-style: dashed;
  border-color: #fff;
  border-width: 3px 0 0 0;
}

.navbar-brand h1 {
  font-family: "OCRA";
  text-transform: uppercase;
  margin: 20px 0;
  padding: 0;
  padding-bottom: 20px;
  white-space: pre-line;
  line-height: 0.9;
  color: #01ffd9;
}

.navbar-brand .img-fluid {
  margin: 0;
  padding: 35% 20%;
  width: 150px;
}

.navbar-toggler {
  padding-right: 0;
}

#navigation.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  overflow-x: hidden;
  overflow-y: hidden;
  padding-left: 0;
  padding-right: 0;
  min-width: 180px;
  text-align: center;
  height: 100vh;
  text-transform: uppercase;
  background-color: rgb(0, 0, 0);
}

#navigation.topbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  overflow: hidden;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  text-align: center;
  height: 42px;
  text-transform: uppercase;
  background-color: rgb(0, 0, 0);
  padding-top: 6px;
}

#navigation .nav-item.active a.nav-link {
  color: #01ffd9;
}

#navigation .nav-item a.nav-link:hover {
  color: #01ffd9;
}

.nav-item {
  display: inline;
}

.nav-link {
  display: inline;
}

#navigation .nav-item a.nav-link {
  font-family: 'OCRA';
  color: #fff;
  text-align: left;
  font-size: 0.8rem;
}

#navigation-collapsed {
  background-color: rgb(0, 0, 0);
  text-align: center;
  border-bottom: solid #01ffd9 2px;
}

#nav_collapse .nav-item a {
  color: #fff;
  text-transform: uppercase
}

#nav_collapse {
  padding-top: 1rem;
}

a:not(.nav-link) {
  text-decoration: underline;
}

#nav_collapse .nav-item a:hover {
  color: #01ffd9;
  text-decoration: none;
}

.nav-pills .nav-link {
  border-radius: 0;
  font-family: OCRA;
  text-transform: uppercase;
  margin-bottom: 20px;
  display: block;
}

.no-border {
  border: none !important;
}

.dashed-header > h1{
  color: #01ffd9;
}

.dashed-header > h1::before{
  content: '// ';
  color: #01ffd9;
}

.nav-pills li a {
  color: #01ffd9;
  padding: 0.3rem 0.5rem;
  font-size: 1rem;
  background: none;
  margin-right: 4px;
  border: 1px solid #01ffd9;
}

.nav-pills li:last-child a {
  margin-right: 0;
}

.nav-pills li.nav-item .nav-link.active {
  color: #fff;
  border: 1px solid #01ffd9;
  border-radius: 0;
  background: #01ffd9;
}

.card {
  padding: 30px;
  color: #fff;
  line-height: 1.1rem;
  font-family: Roboto;
  border-radius: 0;
  border: none;
  border: solid 5px #01ffd9;
  background-color: #000;
  height: 100%;
  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}

.card.example {
  background: #212121;
}

.card-header {
  font-family: "OCRA";
  color: #fff;
  font-size: 2rem;
  text-align: left;
  border: none;
  margin: 0;
  padding: 0;
  padding-top: 5px;
  padding-bottom: 30px;
  background: none;
}

.logo-center {
  display: table-cell;
  vertical-align: middle;
}

.card-body {
  padding: 5px;
  font-family: Roboto;
  text-align: left;
  font-size: 1rem;
  line-height: 1.3;
}

.card-body p {
  margin-top: 10px;
}

.card a {
  color: #01ffd9;
}

.center {
  text-align: center;
}

.link {
  font-family: Courier;
}

th, td {
  padding: 10px 30px;
  font-size: 1rem;
  border: 1px solid #01ffd9;
}

@media (max-width: 992px) {
  th, td {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 0.85rem;
    border: 1px solid #01ffd9;
  }
}

table {
  margin: 30px 0;
  font-size: 1rem;
  font-family: OCRA;
  color: #fff;
}

.textblock-right {
  border-top: solid 1px #000;
}

.textblock-left {
  border-top: 1px solid #01ffd9;
}

@media (max-width: 992px) {
  h1 {
    font-size: 1.5rem;
  }
}

@media (max-width: 769px) {
  .main-header {
    font-size: 4rem !important;
  }

  .main-header-container h1 {
    text-align: center;
  }

  .main-header-container {
    width: 100% !important;
  }

  .img-header {
    display: none;
  }
}

@media (max-width: 575px) {
  .logo-center {
    display: block;
  }
}

.link-fix::before {
  content: "a";
  margin-top: -285px;
  height: 285px;
  visibility: hidden;
  pointer-events: none;
}

.mobile-header {
  font-family: OCRA;
  color: #fff;
  position: absolute;
  left: 60px;
  display: inline;
  top: 13px;
}

.header-slide-enter-active {
  transition: all .15s cubic-bezier(0.075, 0.660, 0.295, 0.980);
}
.header-slide-leave-active {
  transition: all .3s cubic-bezier(0.075, 0.660, 0.295, 0.980);
}
.header-slide-enter{
  transform: translateY(-30px) scale(1, 0);
  opacity: 0;
}

.header-slide-leave-to{
  transform: translateY(30px) scale(1, 0);
  opacity: 0;
}

.collapsing {
  transition: 0.3s cubic-bezier(.17, .67, .56, 1.03);
}

.toggle-content-enter-active, .toggle-content-leave-active {
  transition: opacity 0.1s;
}
.toggle-content-enter, .toggle-content-leave-to {
  opacity: 0;
}

.workshop-description {
  font-size: 1rem;
}

.cursor--pointer {
  cursor: pointer;
}
