@font-face {
  font-family: 'OCRA';
  src: url('../../assets/fonts/OCRAEXT.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'RBTFNT';
  src: url('../../assets/fonts/RBTFNT.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CourierCodeRoman';
  src: url('../../assets/fonts/courier-code_regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'CourierCodeRoman';
  src: url('../../assets/fonts/courier-code_bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}

body {
  background-color: #000;
  font-family: OCRA;
  font-size: 1.2rem;
  color: #fff;
  text-align: left;
  overflow-x: hidden;
}

button {
  background-color: unset;
  border: unset;
}

#header-robologo {
  padding: 0;
}

.justify {
  text-align: justify;
}

.clickable-title {
  text-decoration: underline !important;
  cursor: pointer;
}

.word-break {
  word-break: break-word;
}

.b-card-body p a {
  color: #fff;
}

.footer-content {
  color: #000;
  text-align: center;
  margin: 50px;
}

footer {
  background-color: #262330;
}

footer h2 {
  color: #fff;
}

a {
  text-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
  font-family: OCRA;
}

a:hover {
  color: #fff;
}

header a.nav-link:hover {
  color: #fff;
}

p, li {
  font-family: OCRA;
  margin-bottom: 1rem;
}

header ul {
  text-align: center;
  margin: 0;
  padding: 0;
}

.navbar-brand {
  font-family: "OCRA";
  margin-right: 0;
  letter-spacing: 0.05em;
  font-weight: normal;
}

code {
  font-family: "Courier";
  color: white;
  padding: 4px;
  margin: 0;
  letter-spacing: 0.08rem;
  font-size: 1.2rem;
  font-weight: 600;
  background-color: #444;
}

h1,
h2,
.link-title,
h3 {
  color: #01ffd9;
}

.link-title {
  padding-top: 60px;
  margin-top: -60px;
}


h1,
h2,
h3,
.link-title
div.card-header {
  font-family: "OCRA";
  text-align: left;
  color: #01ffd9;
}

.rbtfnt {
  font-family: "RBTFNT";
}

h1, h2, div.card-header, .link-title {
  text-transform: uppercase;
}

h1 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1rem;
}

h2, .link-title {
  font-size: 1.2rem;
}

h2:not(.no-arrow)::before {
  content: '> ';
  color: #01ffd9;
  position: absolute;
  left: 1rem;
}

.color {
  color: #01ffd9;
}

.white {
  color: #fff;
}

h1.main-header {
  font-size: 20px;
  font-size: 6rem;
  line-height: 0.9;
  color: #fff;
}

.img-header {
  float: left;
  margin-top: 11px;
  width: 160px;
  margin-right: 50px;
}

.main-header-container {
  width: 760px;
  margin: 10px auto;
  padding-bottom: 50px;
  text-align: center;
}

.header {
  background-color: #262330;
  margin: 0;
  padding-top: 80px;
}

.logo-fixed {
  position: fixed;
  top: 50px;
  right: 20px;
  width: 50px;
  height: 50px;
  z-index: 999;
  transition: 0.3s ease-out transform;
}

.logo-fixed:hover {
  transform: rotate(90deg);
}

.type-body {
  font-size: 1rem;
}
.type-small {
  font-size: 0.8rem;
}

.button-primary {
  border: solid 1px #01ffd9;
  color: #01ffd9;
}

.fade-enter-active, .fade-leave-active {
  transition: opacity .2s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}

@media (max-width: 1100px) {
  .logo-fixed {
    display: none;
  }
}

.white-box {
  font-family: CourierCodeRoman;
  color: #000;
  background-color: #fff;
  padding: 10px;
  margin: 6px;
  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
  display: table;
  min-width: 200px;
  margin: 0 auto;
}

small.info {
  margin: 0 auto;
  display: block;
}

small.info::after {
  content: "  ••••••••••••••"
}

.card.feature-box {
  background-color: #01ffd9;
  color: #fff;
}

#nav_collapse .nav-item a {
  font-family: "OCRA";
  color: #fff;
  font-weight: normal;
}

a {
  font-weight: bold;
}

#nav_collapse .nav-item a.active,
a {
  color: #01ffd9;
}

hr {
  border-style: dashed;
  border-color: #fff;
  border-width: 3px 0 0 0;
}

.navbar-brand h1 {
  font-family: "OCRA";
  text-transform: uppercase;
  margin: 20px 0;
  padding: 0;
  padding-bottom: 20px;
  white-space: pre-line;
  line-height: 0.9;
  color: #01ffd9;
}

.navbar-brand .img-fluid {
  margin: 0;
  padding: 35% 20%;
  width: 150px;
}

.navbar-toggler {
  padding-right: 0;
}

#navigation.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  overflow-x: hidden;
  overflow-y: hidden;
  padding-left: 0;
  padding-right: 0;
  min-width: 180px;
  text-align: center;
  height: 100vh;
  text-transform: uppercase;
  background-color: rgb(0, 0, 0);
}

#navigation.topbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  overflow: hidden;
  padding-left: 0;
  padding-right: 0;
  width: 100%;
  text-align: center;
  height: 42px;
  text-transform: uppercase;
  background-color: rgb(0, 0, 0);
  padding-top: 6px;
}

#navigation .nav-item.active a.nav-link {
  color: #01ffd9;
}

#navigation .nav-item a.nav-link:hover {
  color: #01ffd9;
}

.nav-item {
  display: inline;
}

.nav-link {
  display: inline;
}

#navigation .nav-item a.nav-link {
  font-family: 'OCRA';
  color: #fff;
  text-align: left;
  font-size: 0.8rem;
}

#navigation-collapsed {
  background-color: rgb(0, 0, 0);
  text-align: center;
  border-bottom: solid #01ffd9 2px;
}

#nav_collapse .nav-item a {
  color: #fff;
  text-transform: uppercase
}

#nav_collapse {
  padding-top: 1rem;
}

a:not(.nav-link) {
  text-decoration: underline;
}

#nav_collapse .nav-item a:hover {
  color: #01ffd9;
  text-decoration: none;
}

.nav-pills .nav-link {
  border-radius: 0;
  font-family: OCRA;
  text-transform: uppercase;
  margin-bottom: 20px;
  display: block;
}

.no-border {
  border: none !important;
}

.dashed-header > h1{
  color: #01ffd9;
}

.dashed-header > h1::before{
  content: '// ';
  color: #01ffd9;
}

.nav-pills li a {
  color: #01ffd9;
  padding: 0.3rem 0.5rem;
  font-size: 1rem;
  background: none;
  margin-right: 4px;
  border: 1px solid #01ffd9;
}

.nav-pills li:last-child a {
  margin-right: 0;
}

.nav-pills li.nav-item .nav-link.active {
  color: #fff;
  border: 1px solid #01ffd9;
  border-radius: 0;
  background: #01ffd9;
}

.card {
  padding: 30px;
  color: #fff;
  line-height: 1.1rem;
  font-family: Roboto;
  border-radius: 0;
  border: none;
  border: solid 5px #01ffd9;
  background-color: #000;
  height: 100%;
  -webkit-border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  border-radius: 5px 5px 5px 5px;
}

.card.example {
  background: #212121;
}

.card-header {
  font-family: "OCRA";
  color: #fff;
  font-size: 2rem;
  text-align: left;
  border: none;
  margin: 0;
  padding: 0;
  padding-top: 5px;
  padding-bottom: 30px;
  background: none;
}

.logo-center {
  display: table-cell;
  vertical-align: middle;
}

.card-body {
  padding: 5px;
  font-family: Roboto;
  text-align: left;
  font-size: 1rem;
  line-height: 1.3;
}

.card-body p {
  margin-top: 10px;
}

.card a {
  color: #01ffd9;
}

.center {
  text-align: center;
}

.link {
  font-family: Courier;
}

th, td {
  padding: 10px 30px;
  font-size: 1rem;
  border: 1px solid #01ffd9;
}

@media (max-width: 992px) {
  th, td {
    padding-left: 5px;
    padding-right: 5px;
    font-size: 0.85rem;
    border: 1px solid #01ffd9;
  }
}

table {
  margin: 30px 0;
  font-size: 1rem;
  font-family: OCRA;
  color: #fff;
}

.textblock-right {
  border-top: solid 1px #000;
}

.textblock-left {
  border-top: 1px solid #01ffd9;
}

.display--flex {
  display: flex;
}

.flex--center {
  align-items: center;
}

.flex--wrap {
  flex-wrap: wrap;
}

@media (max-width: 992px) {
  h1 {
    font-size: 1.5rem;
  }
}

@media (max-width: 769px) {
  .main-header {
    font-size: 4rem !important;
  }

  .main-header-container h1 {
    text-align: center;
  }

  .main-header-container {
    width: 100% !important;
  }

  .img-header {
    display: none;
  }
}

@media (max-width: 575px) {
  .logo-center {
    display: block;
  }
}

.link-fix::before {
  content: "a";
  margin-top: -285px;
  height: 285px;
  visibility: hidden;
  pointer-events: none;
}

.mobile-header {
  font-family: OCRA;
  color: #fff;
  position: absolute;
  left: 60px;
  display: inline;
  top: 13px;
}

.header-slide-enter-active {
  transition: all .15s cubic-bezier(0.075, 0.660, 0.295, 0.980);
}
.header-slide-leave-active {
  transition: all .3s cubic-bezier(0.075, 0.660, 0.295, 0.980);
}
.header-slide-enter{
  transform: translateY(-30px) scale(1, 0);
  opacity: 0;
}

.header-slide-leave-to{
  transform: translateY(30px) scale(1, 0);
  opacity: 0;
}

.collapsing {
  transition: 0.3s cubic-bezier(.17, .67, .56, 1.03);
}

.toggle-content-enter-active, .toggle-content-leave-active {
  transition: opacity 0.1s;
}
.toggle-content-enter, .toggle-content-leave-to {
  opacity: 0;
}

.talk-description {
  font-size: 1rem;
}

.cursor--pointer {
  cursor: pointer;
}

#ticket-canvas {
  width: 100%;
  height: 100%;
  position: relative;
  border: 3px solid #01ffd9;
}

.ticket-visual_visual {
  width: 650px;
  height: 320px;
  margin: 100px auto;
  position: relative;
  transition: all 300ms cubic-bezier(0.03, 0.98, 0.53, 0.99) 0s;
}

.ticket-profile_image {
  margin: auto 0;
  width: 82px;
  height: 82px;
}

.ticket-visual_ticket-number {
  transform: rotate(90deg) translateY(70px);
  transform-origin: bottom right;
  font-size: 25px;
  font-weight: 700;
  text-align: center;
  padding-bottom: 10px;
  width: 310px;
  border-bottom: 3px dashed #01ffd9;
  pointer-events: none;
}

.ticket-visual_ticket-number-wrapper {
  position: absolute;
  right: 35px;
  bottom: 0;
  pointer-events: none;
}

.ticket-buy-container {
  display: flex;
  flex-direction: row;
  text-align: center;
  border: 3px solid #01ffd9;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  border-radius: 3px;
  cursor: pointer;
  pointer-events: all;
  text-decoration: none !important;
  color: white;
}

.ticket-buy-container:hover .ticket-main-texts {
  color: #01ffd9;
}

.ticket-visual_profile {
  padding: 0 146px 39px 70px;
  margin-top: -300px;
  position: relative;
  pointer-events: none;
}

.ticket-buy-text {
  margin-bottom: 0;
  font-size: 32px;
  font-weight: 500;
}

.ticket-rf-text {
  margin: 0 0 5px 20px;
  color: #c6ccd8;
  display: flex;
}

.ticket-visual_visual:before {
  content: "";
  display: block;
  position: absolute;
  top: calc(50% - 32px);
  left: -32px;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background: #01ffd9;
  z-index: 2;
  clip-path: polygon(100% 0%, 50% 0%, 50% 100%, 100% 100%);
}

.ticket-visual_visual:after {
  content: "";
  display: block;
  position: absolute;
  top: calc(50% - 32px);
  right: -32px;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  background: #01ffd9;
  z-index: 2;
  clip-path: polygon(0% 0%, 50% 0%, 50% 100%, 0% 100%);
}

.ticket-visual-wrapper:before {
  content: "";
  display: block;
  position: absolute;
  top: calc(50% - 29px);
  left: -29px;
  height: 58px;
  width: 58px;
  border-radius: 50%;
  background: #000000;
  z-index: 3;
}

.ticket-visual-wrapper:after {
  content: "";
  display: block;
  position: absolute;
  top: calc(50% - 29px);
  right: -29px;
  width: 58px;
  height: 58px;
  border-radius: 50%;
  background: #000000;
  z-index: 3;
}

.ticket-visual-wrapper {
  width: 100%;
  height: 100%;
  user-select: none;
}

.ticket-main-texts {
  flex-grow: 1;
  text-decoration: none !important;
}

.ticket-buy-container:hover {
  box-shadow: 0 0 10px #01ffd9;
}

.ticket-event {
  margin-top: 25px;
  margin-left: -10px;
}

.ticket-event-info {
  font-family: OCRA;
  margin-bottom: 2rem;
  margin-top: 1rem;
  font-size: 20px;
  transform: translateX(-3px);
  border-bottom: solid 3px #01ffd9;
  justify-content: space-between;
}

.ticket-link {
  margin-top: 2rem !important;
}

.blue {
  color: #01ffd9;
}

@media (max-width: 770px) {
  .ticket-visual_visual {
    max-width: 400px;
    height: 160px;
    transition: all 300ms cubic-bezier(0.03, 0.98, 0.53, 0.99) 0s;
  }
  .ticket-profile_image {
    width: 32px;
    height: 32px;
  }
  .ticket-visual_ticket-number {
    font-size: 14px;
    font-weight: 700;
    padding-bottom: 5px;
    width: 155px;
    transform: rotate(90deg) translateY(80px);
  }
  .ticket-visual_ticket-number-wrapper {
    right: -35px;
    bottom: -5px;
  }
  .ticket-visual_profile {
    padding: 0px 69px 0px 40px;
    margin-top: -152px;
  }
  .ticket-buy-text {
    font-size: 20px;
  }
  .ticket-rf-text {
    margin: 0 0 5px 10px;
    font-size: 10px;
  }
  .ticket-visual_visual:before {
    top: calc(50% - 16px);
    left: -16px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
  }
  .ticket-visual_visual:after {
    top: calc(50% - 16px);
    right: -16px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
  }
  .ticket-visual-wrapper:before {
    top: calc(50% - 15px);
    left: -15px;
    height: 30px;
    width: 30px;
  }
  .ticket-visual-wrapper:after {
    top: calc(50% - 15px);
    right: -15px;
    width: 30px;
    height: 30px;
  }
  .ticket-event-info {
    margin-top: 1.5rem;
    font-size: 8px;
    margin-bottom: 0;
  }
  .ticket-link {
    justify-content: center;
    margin-top: 0.8rem !important;
    padding-left: 0;
    padding-right: 0;
  }
  .ticket-buy-container {
    padding: 0.5rem !important;
    border: solid 1px #01ffd9;
  }
  .ticket-main-texts {
    flex-grow: 0;
    margin-left: 0.5rem;
  }
}

@media (max-width: 345px) {
  .ticket-buy-text {
    font-size: 16px;
  }
}
