.card {
    position: relative;
}
.card::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border: solid 1.5px #fff;
    border-radius: var(--border-radius-rounded);
    filter: drop-shadow(
        0 0 3px #fe4bd2);
}
.card.sharp {
    border-radius: 0;
}
.card > div, .card > button, .card > a {
    z-index: 2;
}

.rounded {
    border-radius: var(--border-radius-rounded);
}
.rounded-small {
    border-radius: var(--border-radius-rounded-small);
}

.border-black {
    border: solid 0.15rem var(--color-black);
}
.border-white {
    border: solid 0.15rem var(--color-white);
}
.border-theme {
    border: solid 0.2rem var(--color-theme);
}

.border-right-theme {
    border-right: solid 0.2rem var(--color-theme);
}
.border-right-white {
    border-right: solid 0.2rem var(--color-white);
}
.border-bottom-theme {
    border-bottom: solid 0.2rem var(--color-theme);
}
.border-bottom-white {
    border-bottom: solid 0.2rem var(--color-white);
}
.border-left-theme {
    border-left: solid 0.2rem var(--color-theme);
}
.border-left-white {
    border-left: solid 0.2rem var(--color-white);
}
.border-top-theme {
    border-top: solid 0.2rem var(--color-theme);
}
.border-top-white {
    border-top: solid 0.2rem var(--color-white);
}

.border-thin {
    border-width: 0.05rem;
}

button.theme, button.stroke {
    border: 1px solid var(--color-white);
    border-radius: var(--border-radius-rounded-small);
    color: var(--color-white);
    font-family: var(--font-title);
    padding: var(--size-2xsmall) var(--size-small);
    text-transform: uppercase;
    transition: 0.1s color, background-color 0.1s, box-shadow 0.1s, border-color 0.1s;
}
button.theme:hover {
    color: var(--color-theme);
    border-color: var(--color-theme);
}
button.theme {
    background-color: var(--color-background);
}
button.stroke {
    border: solid 0.05rem var(--color-white);
}
button.theme.active {
    border: none;
    background-color: var(--color-theme);
    color: var(--color-black);
    box-shadow: inset 2px 3px 2px -1px rgba(0,0,0,0.2);
}
button.small {
    padding: var(--size-3xsmall) var(--size-xsmall);
}

@media screen and (max-width: 768px) {
    button.theme, button.stroke {
        padding: var(--size-2xsmall) var(--size-xsmall);
    }
}

.disabled {
    opacity: 0.4;
    pointer-events: none;
}
