@import "text.css";

@import "variables.css";
@import "grid.css";
@import "margins.css";
@import "elements.css";
@import "paddings.css";
@import "colors.css";

@import "modifiers.css";
@import "transitions.css";

html[dir="rtl"] * {
  direction: rtl;
  text-align: right;
}

#app {
  max-width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

body:not(.accessible) * {
  outline: none;
}

body:has(.theme-2024) {
  background-color: #000;
  color: #fff;
}

a {
  text-decoration: none;
}
