@import "./typography/font.css";
@import "./typography/heading.css";

html[dir="rtl"] * {
  direction: rtl;
  text-align: right;
}

#app {
  max-width: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

body:not(.accessible) * {
  outline: none;
}

a {
  text-decoration: none;
}

.content-wrapper {
  @media (max-width: 959.9px) {
    margin: 0 auto;
    padding: 0 8vw;
  }

  @media (max-width: 799.9px) and (min-width: 600px) {
    padding: 0 4vw;
  }

  @media (max-width: 599.9px) {
    padding: 0;
  }
}

.w-max-content {
  width: max-content;
}

.section-title {
  font-size: 30px;
  word-spacing: -12px;
  margin-bottom: 10px;
}

.jumbo-btn {
  width: 100%;

  @media (min-width: 960px){
    width: 80%;
  }
}