@font-face {
  font-family: "RBCN";
  src:
    url("/dist/fonts/RBCN23.woff2") format("woff"),
    url("/fonts/RBCN23.woff2") format("woff");
  font-display: swap;
  font-weight: 500;
}
@font-face {
  font-family: "RBCN22";
  src: url("/dist/fonts/RBCN-thin.woff2") format("woff");
  font-display: swap;
  font-weight: 500;
}
@font-face {
  font-family: "OCRA";
  src:
    url("/dist/fonts/OCRA.woff") format("woff"),
    url("/fonts/OCRA.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Courier Code";
  src:
    url("/dist/fonts/CourierCode-Roman.woff2") format("woff2"),
    url("/fonts/CourierCode-Roman.woff2") format("woff2");
  font-display: swap;
  font-weight: 400;
}
@font-face {
  font-family: "Courier Code";
  src:
    url("/dist/fonts/CourierCode-Italic.woff") format("woff"),
    url("/fonts/CourierCode-Italic.woff") format("woff");
  font-display: swap;
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Courier Code";
  src:
    url("/dist/fonts/CourierCode-Bold.woff") format("woff"),
    url("/fonts/CourierCode-Bold.woff") format("woff");
  font-display: swap;
  font-weight: 600;
}
